body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#wrapper {
    width: 90%;
    margin: 0 auto;
}

header, main, footer {
    width: 85%;
    margin: 0 auto;
}

#intro {
    background-color: #1f2041;
    color: #ffffff;
    font-size: 2em;
    line-height: 1.3em;
    padding: 1em;
    text-align: center;
    border-radius: 10px;
}

h2 {
    font-size: 1.5em;
    line-height: 1.3em;
}

#myPhoto {
    position: relative;
    float: right;
    margin-right: 15px;
    top: 15px;
    padding: 10px;
}

footer {
    background-color: #1f2041;
    padding: 1em;
    color: #ffffff;
    font-size: 0.9em;
    text-align: center;
    line-height: 1.3em;
    border-radius: 10px;
}

footer a {
    color: #ffffff;
}

#lastUpdated {
    color: #ffc857;
}

@media only screen and (max-width: 768px) {
    #intro {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1.1em;
    }

    #myPhoto {
        height: 150px;
    }
}