/* Color Variables */
$reddishColor: #ff5964;
$yellowColor: #ffe74c;
$blueColor: #38618c;
$blackColor: #222222;
$whiteColor: #ffffff;
$greenColor: #00ff00;

/* Font Family Variables */
$mainFontFamily: 'Ubuntu', sans-serif;
$bodyFontFamily: 'Vollkorn', serif;

/* Font Size */
$paragraphSize: 16px;
$h1Size: 2.5em;
$navSizeSmall: 1.15em;
$navSize: 1.35em;
$h2Size: 1.56em;
$h3Size: 1.25em;
$footerSize: 1em;
$motto: 1em;
$mottoSmall: 0.85em;

$gutter: 2%;