@media only screen and (min-width: 60em) {
    header {
        flex-flow: unset;
    }

    header img {
        width: 120px;
        object-fit: contain;
        align-self: flex-start;
    }

    header h1 {
        flex: 1 1 auto;
        text-align: center;
        font-size: 2.5em;
    }

    nav li a {
        font-size: 1.2em;
    }

    footer {
        font-size: 0.85em;
    }
}