/* Desktop Views ****************************************/
@media only screen and (min-width: 60em) {
    nav a {
        font-size: 1.1rem;
    }
    
    #main-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    article:nth-child(3) {
        grid-column: span 1;
    }

    h1 {
        font-size: 2rem;
    }

    header {
        flex-flow: unset;
    }

    header img {
        width: 120px;
        object-fit: contain;
        align-self: flex-start;
    }

    header h1 {
        flex: 1 1 auto;
        text-align: center;
        line-height: 0.5em;
    }

    /* Target Audience and Personas Style ****************************************/
    #target-container {
        grid-template-columns: 1fr 1fr;
    }

    .target-article:nth-child(1) {
        grid-column: span 2;
    }

    /* Color Scheme ****************************************/
    #color-container {
        grid-template-columns: 1fr 1fr;
    }

    /* Navigation ****************************************/
    .nav-article:nth-of-type(1) {
        grid-column: span 2;
    }

    .nav-article:nth-of-type(2) {
        grid-column: span 2;
    }
  }