/*
    ==================================================
    Fonts
    ==================================================
    Company Name: font-family: 'Roboto', sans-serif;
    Headers: font-family: 'Open Sans', sans-serif;
    Navigation: font-family: 'Montserrat', sans-serif;
    Paragraphs: font-family: 'Ubuntu', sans-serif;
    Footer: font-family: 'Share Tech Mono', monospace;
    ==================================================

    ==================================================
    Colors: 
    ==================================================
    Valhalla: #1f2041
    Golden Tainoi: #ffc857
    Dark Red: #a50404
    Seal Brown: #2b0b0b
    White: #ffffff
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto|Share+Tech+Mono|Ubuntu&display=swap');

body {
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}

/* Phone or Baseline Views ****************************************/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

#container {
    background-color: #ffc857;
    padding: 5px;
    text-align: center;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    width: 100%;
}

header, footer {
    background-color: #1f2041;
    display: flex;
    flex-flow: column;
    color: #ffc857;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

header, nav, main, footer {
    max-width: 75%;
    margin: 0 auto;
}

header h1 {
    text-align: center;
    line-height: 1.3rem;
    font-family: 'Roboto', sans-serif;
}

header img {
    width: 100px;
    position: relative;
    background-color: #ffc857;
    border: 2px #1f2041 solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #2b0b0b;
}

h1 {
    font-size: 1.5rem;
}

h2, h3, h4 {
    color: #ffc857;
}

#company-name {    
    color: #1f2041;    
    font-size: 2.5em;
}

#company-name span {
    color: #a50404;
}

nav {
    background-color: #ffc857;
    text-align: center;
    box-shadow: 0 5px 15px #2b0b0b;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a {
    display: block;
    color: #1f2041;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

nav a:hover {
    background-color: #1f2041;
    color: #ffc857;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #2b0b0b;
}

.active {
    color: #a50404;
}

#main-container {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.80rem;
}

main article, main aside {
    margin: 0.5rem;
    color: #ffffff;
    border: 2px solid #ffc857;
    padding: 0 1rem;
    background-color: #1f2041;
    line-height: 1.5rem;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 1);
}

article a {
    color: #ffffff;
}

main aside {
    background-color: #ffffff;
    display: none;
    color: #1f2041;
    border: 2px solid #1f2041; 
}

aside .aside-header {
    color: #1f2041;
}

main article:hover, main aside:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 1);
}

footer {
    flex: 0 1 100%;
    font-size: 0.65rem;
    font-family: 'Share Tech Mono', monospace;
    vertical-align: middle;
    margin-bottom: 10px;
}

footer a {
    color: #ffc857;
}

/* Target Audience and Personas Style ****************************************/
#target-container {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.80rem;
}

.target-article {
    margin: 0.5rem;
    color: #ffffff;
    border: 2px solid #ffc857;
    padding: 0 1rem;
    background-color: #1f2041;
    line-height: 1.5rem;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 1);
}

.persona-name {
    font-size: 1.5em;
    color: #ffffff;
}

.persona-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

b {
    color: #ffc857;
}

.accordion {
    background-color: #ffc857;
    color: #1f2041;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 0 0 10px 0;
    border-radius: 10px;
}

.accordion-active, .accordion:hover {
    background-color: #2b0b0b;
    color: #ffffff;
}

.accordion-panel {
    padding: 0 18px;
    background-color: #ffffff;
    color: #a50404;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin: 0 0 10px 0;
}

.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #1f2041;
    float: right;
    margin-left: 5px;
}

.accordion-active:after {
    content: '\2796';
}
/* Color Scheme Style ****************************************/
#color-container {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.80rem;
}

.color-article, .color-article-white {
    margin: 0.5rem;
    color: #ffffff;
    border: 2px solid #ffc857;
    padding: 0 1rem;
    background-color: #1f2041;
    line-height: 1.5rem;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 1);
}

.color-article-white {   
    background-color: #ffffff;
}

.color-article-white h2 {
    color: #1f2041;
}
.center {
    text-align: center;
    vertical-align: middle;
}

.color-grid {
    display: grid;
    border: 2px solid #ffc857;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 1);
    margin-bottom: 15px;
}

.primary {     
    line-height: 0.20em;
}

#primary-color {
    background-color: #1f2041;
}

#text-color {
    background-color: #ffffff;
}

#link-color {
    background-color: #a50404;
}

#background-color {
    background-color: #ffc857;
}

#accent-color {
    background-color: #2b0b0b;
}

#highlight-color {
    background-color: #1f2041;
}

.gold-color {
    color: #ffc857;
}

.white-color {
    color: #ffffff;
}

.red-color {
    color: #a50404;
}

.blue-color {
    color: #1f2041;
}

.color-image {
    width: 100%;
    height: auto;
    border: 2px solid #ffc857;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 1);
}

/* Typography Style ****************************************/
.table-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    margin-bottom: 15px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 1);
    font-size: 0.65rem;
}

.table-grid > span {
    padding: 8px 5px;
    border-left: 1px solid #ffffff;
    border-bottom: 3px solid #ffffff;
}

.table-header {
    background-color: #ffffff;
    color: #1f2041;
}

.odd-row {
    background-color: #ffc857;
    color: #2b0b0b;
}


.even-row {
    background-color: #1f2041;
    color: #ffffff;
}

/* Navigation Style ****************************************/
.nav-img {
    width: 100%;
    border: 2px solid #ffc857;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 1);
}

.nav-img-1 {
    width: 100%;
    height: auto;
}